.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99998;
  padding: 0 4vw 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: 0.4s;
  transition-property: transform, color;

  .gnb {
    display: flex;
    margin: 0 -2.083rem;
    font-size: 1.25vw;
    li {
      letter-spacing: 0.025rem;
      font-weight: bold;
      margin: 0 2.0833rem;
      a {
        padding: 1.71875vw 0;
        display: block;
        position: relative;
      }
    }
  }
  //   .storebox {
  //     display: flex;
  //     align-items: center;
  //   }
  .store {
    font-weight: 900;
    height: 2.2083333333em;
    width: 5.75em;
    border-radius: 1.1041666667em;
    font-size: 1.25vw;
    letter-spacing: 0.025em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 0.125em solid #000;
    transition: font 0.4s;
    img {
      vertical-align: baseline;
      margin-left: 0.1666666667em;
      width: 0.6666666667em;
      transition: filter 0.4s;
    }
  }
}

.main {
  background: #f4f4f4;
  overflow: hidden;
}

.sec-main {
  position: relative;
  .scroll-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    .scroll {
      position: absolute;
      bottom: 2.132196162%;
      left: 50%;
      z-index: 50;
      transform: translateX(-50%);
      .line {
        width: 1.9791666667vw;
        height: 3.3333333333vw;
        box-sizing: border-box;
        border: 0.1041666667vw solid #000;
        border-radius: 1000px;
        margin: 0 auto;
        position: relative;
      }
      .circle {
        width: 0.4166666667vw;
        background: #000;
        border-radius: 1000px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20.3125%;

        &::after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
      .arrow {
        position: absolute;
        bottom: 7%;
        left: 31%;

        img {
          width: 0.7291666667vw;
          vertical-align: baseline;
        }
      }
      p {
        font-weight: 500;
        font-size: 0.8854166667vw;
        color: #000;
        text-align: center;
        margin-top: 0.5208333333vw;
      }
    }
  }
  ._desktop .layout {
    position: relative;
    height: 100vh;
    background: #f4f4f4;
    overflow: hidden;
    z-index: 2;
    .lt {
      font-size: 0.9375vw;
      font-weight: 300;
      letter-spacing: 0.1em;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-15%, -50%) rotate(-90deg);
    }
    .img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      svg {
        width: 23.8541666667vw;
      }
    }
    .word {
      font-size: 13vw;
      font-weight: 900;
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        transform: translateY(-30%);
        color: #000;
        line-height: 120%;

        &:nth-of-type(2) {
          z-index: 3;
        }
      }
    }
  }
  ._desktop .layout-02 {
    background: #000000;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    clip-path: inset(100% 0% 0% 0%);
    .lt {
      color: #fff;
    }
    .word-2 {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
      font-size: 21.875vw;
      white-space: nowrap;
      z-index: 3;
    }
    .word-3 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      white-space: nowrap;
      z-index: 3;
      dt {
        font-size: 6.25vw;
        font-weight: 900;
        line-height: 1.1666666667;
      }

      dd {
        font-size: 2.6041666667vw;
        font-weight: bold;
        margin-top: 0.6em;
        opacity: 0 !important;
      }
      .in {
        display: inline-block;
        position: relative;
        .typ {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 100%;
          width: 2px;
          background: #fff;
          opacity: 0;
        }
      }
    }
  }
}

.sec-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/asset/img/main/se02/background.jpg) no-repeat
    (center / cover);
  overflow: hidden;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    //   width: 100%;
    //   height: 100%;
    background: url(/asset/img/main/se02/text.png) no-repeat (center / cover);
    content: "";
    z-index: 3;
  }
  .vidcontain {
    position: relative;
    width: 66.0416666667vw;
    z-index: 4;

    &::after {
      padding-bottom: 55.8823529412%;
      content: "";
      display: block;
    }

    .videobox {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 1.8229166667vw;
      z-index: 3;
      .playBtn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6.3994791667vw;
        background: rgba(0, 0, 0, 0.5);
        background-image: url(/asset/img/main/se02/play.png);
        background-size: auto 50%;
        background-repeat: no-repeat;
        background-position: 58% 50%;
        padding: 0;
        margin: 0;
        border: 0;
        z-index: 55;
        border-radius: 10000px;
        cursor: pointer;
        transition: 0.4s;
        transition-property: opacity, visibility;

        &::after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &.act {
          opacity: 0;
          visibility: hidden;
        }
      }
      .iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        iframe {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%);
          &.act {
            pointer-events: all;
          }
        }
      }
    }
  }
}

.sec-niniz {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  .text-box {
    text-align: center;
    img {
      width: 149px;
      height: 90px;
    }
    .text {
      margin-top: 45px;
      font-size: 24px;
      color: #000;
      text-align: center;
      font-weight: 600;
    }
  }

  img {
    width: 45%;
    height: 45%;
  }
}
.sec-contents {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  position: relative;

  .text-box {
    text-align: left;
    width: 45%;
    .sec-tit {
      font-size: 3.75rem;
      font-weight: 800;
      line-height: 110%;
      margin-bottom: 10px;
    }
    .sub-tit {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    p {
      font-size: 15px;
      font-weight: 500;
    }
  }
  .img-box {
    .img01 {
      width: 40%;
      position: absolute;
      top: 0;
      left: 50%;
    }
    .img02 {
      width: 40%;
      position: absolute;
      top: 20%;
      right: 0;
    }
    .img03 {
      width: 30%;
      position: absolute;
      top: 60%;
      right: 30%;
    }
  }
}

.sec-goods {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  position: relative;
  height: 100vh;
  overflow: hidden;
  .text-box {
    .sec-tit {
      font-size: 3.75rem;
      font-weight: 800;
      line-height: 110%;
      margin-bottom: 10px;
    }
    .sub-tit {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      width: 440px;
    }
  }
  .img-container {
    display: flex;
    padding: 0 30px;
    gap: 0.625rem;
    .imgbox {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }
    .imgbox-01 {
      animation: goodsup 30s linear infinite;
    }
    .imgbox-02 {
      animation: goodsdown 30s linear infinite;
    }
    img {
      width: 150px;
      border-radius: 5px;
    }
  }
  @keyframes goodsup {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes goodsdown {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
}
.sec-season1 {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  position: relative;
  height: 100vh;
  overflow: hidden;
  .text-box {
    .sec-tit {
      font-size: 3.75rem;
      font-weight: 800;
      line-height: 110%;
      margin-bottom: 10px;
    }
    .sub-tit {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      width: 440px;
    }
  }
  .imgbox {
    margin-top: 12.8048780488vw;
  }
  .ibx {
    display: flex;
    margin: 0 -1.8229166667vw;
    li {
      opacity: 1;
      transform: translate3d(-645.633px, 0px, 0px);
      margin: 0 1vw;
      .img {
        width: 29.6776041667vw;
        height: 16.6469791667vw;
        background: #fff;
        border-radius: 0.3vw;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 101%;
          height: 101%;
        }
      }
    }
  }
}

.sec-season2 {
  .bg-01 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      #feceda 0%,
      #feced9 31%,
      #ffdfd4 45%,
      #fee5d0 55%,
      #fee9ce 67%,
      #fee5d0 88%
    );
    img {
      position: absolute;
      width: 18.75rem;
      top: 25%;
      left: 35%;
    }
  }
  .bg-02 {
    width: 100%;
    height: 100vh;
    background-color: #fee6d0;
    text-align: center;
    img {
      width: 55.625rem;
    }
  }
}
.sec-notice {
  background: #000;
  color: #fff;
  display: flex;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 12.5vw 0 14.5833333333vw;
  overflow: hidden;
  .h3 {
    font-size: 11.9791666667vw;
    color: #3fb0ff;
    font-weight: 900;
    position: relative;
    p {
      writing-mode: vertical-lr;
      transform: translateY(-8%);
    }
  }
  .layoutbox {
    flex: 1;
    margin-left: 14.6875vw;
    font-size: 2.0833333333vw;
    .list li {
      box-sizing: border-box;
      padding-right: 0.625em;
      &:last-child {
        border-bottom: 1px solid #494949;
      }
      + li {
        border-top: 1px solid #494949;
      }
      a {
        padding: 1em 0.175em;
        display: block;
      }
      .date {
        font-size: 0.525em;
        font-weight: 500;
      }
      .textbox {
        margin-top: 0.25em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .notice-title {
          font-weight: bold;
          margin: 0 -0.175em;
          padding: 0 0.175em 0.225em;
          position: relative;
          z-index: 2;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 50%;
            background: #3fb0ff;
            z-index: -1;
          }
        }
        .arrow {
          display: inline-block;
          margin-left: 0.5em;
          flex: 0 0 auto;
          img {
            width: 0.65em;
            vertical-align: baseline;
            transition: transform 0.4s;
          }
        }
      }
    }
    .btnlist {
      text-align: right;
      margin-top: 1.6em;
      font-size: 1.3020833333vw;
      .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 7.5836em;
        height: 2.6736em;
        border-radius: 1000px;
        border: 0.12em solid #3fb0ff;
        box-sizing: border-box;
        color: #3fb0ff;
        font-weight: bold;
        transition: 0.4s;
        transition-property: color;
        img {
          margin-left: 0.8em;
          width: 0.96em;
          transition: transform 0.4s;
        }
      }
    }
  }
}
