@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -moz-appearance: checkbox;
       appearance: checkbox;
  -webkit-appearance: checkbox;
}

button {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif !important;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

#logo {
  background-image: url(../../images/common/logo_niniz.png);
  width: 149px;
  height: 89px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  gap: 70px;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 2.8125rem 0;
}

#main {
  background: #f4f4f4;
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.sec-scroll {
  position: relative;
  height: 7000px;
}
.sec-scroll .jordy-img {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  height: 350px;
  margin: 278px auto 400px;
}
.sec-scroll .jordy-img img {
  height: 100%;
}
.sec-scroll .jordy-txt .text {
  font-size: 15rem;
  font-weight: 800;
  line-height: 110%;
  text-align: center;
}
.sec-scroll .jordy-txt .text p {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.sec-scroll .jordy-txt .text p:first-child {
  z-index: 500;
}
.sec-scroll .jordy-txt .text p:last-child {
  margin-top: 250px;
  z-index: 1500;
}
.sec-scroll .jordy-txt .text-2 p {
  top: 1000px;
}
.sec-scroll .jordy-txt .text-3 p {
  top: 2000px;
}

.sec-niniz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15vw 5vw;
}
.sec-niniz .text-box {
  text-align: center;
}
.sec-niniz .text-box img {
  width: 149px;
  height: 90px;
}
.sec-niniz .text-box .text {
  margin-top: 45px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}
.sec-niniz img {
  width: 45%;
  height: 45%;
}

.sec-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15vw 5vw;
  position: relative;
  overflow: hidden;
}
.sec-contents .text-box {
  text-align: left;
  width: 45%;
}
.sec-contents .text-box .sec-tit {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 10px;
}
.sec-contents .text-box .sub-tit {
  font-size: 1.5625rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.sec-contents .text-box p {
  font-size: 0.9375rem;
  font-weight: 500;
}
.sec-contents .img-box .img01 {
  width: 40%;
  position: absolute;
  top: 0;
  left: 50%;
}
.sec-contents .img-box .img02 {
  width: 40%;
  position: absolute;
  top: 20%;
  right: 0;
}
.sec-contents .img-box .img03 {
  width: 30%;
  position: absolute;
  top: 60%;
  right: 30%;
}

.sec-goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10vw 10vw;
  position: relative;
  overflow: hidden;
}
.sec-goods .text-box .sec-tit {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 10px;
}
.sec-goods .text-box .sub-tit {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}
.sec-goods .text-box p {
  font-size: 15px;
  font-weight: 500;
  width: 440px;
}
.sec-goods .img-container {
  display: flex;
  padding: 0 30px;
  gap: 0.625rem;
}
.sec-goods .img-container .imgbox {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.sec-goods .img-container .imgbox-01 {
  animation: goodsup 30s linear infinite;
}
.sec-goods .img-container .imgbox-02 {
  animation: goodsdown 30s linear infinite;
}
.sec-goods .img-container img {
  width: 150px;
  border-radius: 5px;
}
@keyframes goodsup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes goodsdown {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.sec-season1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  position: relative;
  overflow: hidden;
}
.sec-season1 .text-box .sec-tit {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 10px;
}
.sec-season1 .text-box .sub-tit {
  font-size: 1.5625rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.sec-season1 .text-box p {
  font-size: 0.9375rem;
  font-weight: 500;
  width: 440px;
}

.sec-season2 .bg-01 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #feceda 0%, #feced9 31%, #ffdfd4 45%, #fee5d0 55%, #fee9ce 67%, #fee5d0 88%);
}
.sec-season2 .bg-01 img {
  position: absolute;
  width: 18.75rem;
  top: 25%;
  left: 40%;
}
.sec-season2 .bg-02 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #fee5d0 0%, #ffdfd4 44%, #feceda 100%);
  text-align: center;
}
.sec-season2 .bg-02 img {
  width: 55.625rem;
}

.bg-02 {
  display: none;
}/*# sourceMappingURL=comm.css.map */